<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center;">Bosco Online Shopping</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align: center;"><a>https://www.instagram.com/bosco_online_shopping/</a></h3>
        </div>
        <div class="col-sm-6">
            <h2 style="text-align: center;"><em>Contact Franklin - +91 86673 29533</em></h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class= col-sm-4>
            <p>Product 1</p>
            <img src="assets/2d0ebf4b-6d9d-40e1-ab3c-0cf677236d3c.jpeg" >
        </div>
        <div class= col-sm-4>
            <p>Product 2</p>
            <img src="assets/4eb43afc-ca35-4e38-a7b3-79a4e13f36cf.jpeg" >
        </div>
        <div class= col-sm-4>
            <p>Product 3</p>
            <img src="assets/5f08d633-548e-4a3d-a28d-2c540bc8f8f9.jpeg" >
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class= col-sm-4>
                <p>Product 4</p>
                <img src="assets/6bdd3913-097f-4017-8b0f-7892d9e988e0.jpeg" >
            </div>
            <div class= col-sm-4>
                <p>Product 5</p>
                <img src="assets/8eb8cc8c-0a85-43e6-865a-acc8ab908e02.jpeg" >
            </div>
            <div class= col-sm-4>
                <p>Product 6</p>
                <img src="assets/9e860ad6-d967-4a96-8b24-e6d7e22d43ca.jpeg" >
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class= col-sm-4>
                    <p>Product 7</p>
                    <img src="assets/10b74dba-3b69-4cfa-9f95-ef6201202bf0.jpeg" >
                </div>
                <div class= col-sm-4>
                    <p>Product 8</p>
                    <img src="assets/25e6ea3c-877f-4947-93bf-957425ab78ee.jpeg" >
                </div>
                <div class= col-sm-4>
                    <p>Product 9</p>
                    <img src="assets/30deb62a-a12a-482d-b25b-f7c3a7c7cab4.jpeg" >
                </div>
            </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class= col-sm-4>
                        <p>Product 10</p>
                        <img src="assets/044a0da3-2368-4ec3-a9fc-d7ec5d57511a.jpeg" >
                    </div>
                    <div class= col-sm-4>
                        <p>Product 11</p>
                        <img src="assets/99eb2ab1-2d7b-48e8-b544-2e6a614bdc8c.jpeg" >
                    </div>
                    <div class= col-sm-4>
                        <p>Product 12</p>
                        <img src="assets/147c96ca-26fd-42d7-8c9d-0e8069f92633.jpeg" >
                    </div>
                </div>
            </div>
            <div class="container">
                    <div class="row">
                        <div class= col-sm-4>
                            <p>Product 13</p>
                            <img src="assets/629ebce8-0117-486b-92cb-07de726fd4d6.jpeg" >
                        </div>
                        <div class= col-sm-4>
                            <p>Product 14</p>
                            <img src="assets/633e5641-4704-48b8-bc48-a7e9c66a33f3.jpeg" >
                        </div>
                        <div class= col-sm-4>
                            <p>Product 15</p>
                            <img src="assets/4739a047-641a-44fa-abde-ac9024e4ec51.jpeg" >
                        </div>
                    </div>
                </div>
                <div class="container">
                        <div class="row">
                            <div class= col-sm-4>
                                <p>Product 16</p>
                                <img src="assets/5409eb4d-af8e-48c2-90af-c02ceb8f7833.jpeg" >
                            </div>
                            <div class= col-sm-4>
                                <p>Product 17</p>
                                <img src="assets/29253f89-4e03-49e0-96d7-b49141990343.jpeg" >
                            </div>
                            <div class= col-sm-4>
                                <p>Product 18</p>
                                <img src="assets/76052c7f-ec43-452c-9472-54327c1ff665.jpeg" >
                            </div>
                        </div>
                    </div>
                    <div class="container">
                            <div class="row">
                                <div class= col-sm-4>
                                    <p>Product 19</p>
                                    <img src="assets/564618ec-3aee-4cd2-ba3d-88729a0e6438.jpeg" >
                                </div>
                                <div class= col-sm-4>
                                    <p>Product 20</p>
                                    <img src="assets/641695d6-1e03-4b85-8050-4f3cfbcaab82.jpeg" >
                                </div>
                                <div class= col-sm-4>
                                    <p>Product 21</p>
                                    <img src="assets/19568000-5296-42ba-992a-44df569ff89e.jpeg" >
                                </div>
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                    <div class= col-sm-4>
                                        <p>Product 22</p>
                                        <img src="assets/a0e71147-dbc2-463e-9d79-901bb4324946.jpeg" >
                                    </div>
                                    <div class= col-sm-4>
                                        <p>Product 23</p>
                                        <img src="assets/a2fdb567-44b6-4478-966d-bbcd3264846f.jpeg" >
                                    </div>
                                    <div class= col-sm-4>
                                        <p>Product 24</p>
                                        <img src="assets/a646b29e-b5b0-48fb-8016-487da1eb6019.jpeg" >
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                    <div class="row">
                                        <div class= col-sm-4>
                                            <p>Product 25</p>
                                            <img src="assets/a69347d6-780d-47d4-8c4c-223b7eb61a56.jpeg" >
                                        </div>
                                        <div class= col-sm-4>
                                            <p>Product 26</p>
                                            <img src="assets/b0a610cb-41db-4a09-bce5-bbb8b91f1af8.jpeg" >
                                        </div>
                                        <div class= col-sm-4>
                                            <p>Product 27</p>
                                            <img src="assets/b37cb066-06ce-45d3-8d8f-258f4ac739c1.jpeg" >
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                        <div class="row">
                                            <div class= col-sm-4>
                                                <p>Product 28</p>
                                                <img src="assets/b83f784f-6242-4c39-a6c9-b3890b2b8464.jpeg" >
                                            </div>
                                            <div class= col-sm-4>
                                                <p>Product 29</p>
                                                <img src="assets/b3497cb4-7195-4cbd-a557-b70e6b156411.jpeg" >
                                            </div>
                                            <div class= col-sm-4>
                                                <p>Product 30</p>
                                                <img src="assets/bf634fa3-9065-4874-ace7-ea53cb6d3354.jpeg" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                            <div class="row">
                                                <div class= col-sm-4>
                                                    <p>Product 31</p>
                                                    <img src="assets/ca5b080b-0492-4954-9fb5-2df7c0f1a23d.jpeg" >
                                                </div>
                                                <div class= col-sm-4>
                                                    <p>Product 32</p>
                                                    <img src="assets/cd06180a-c4c4-4e3b-b5bc-5ef7ab476517.jpeg" >
                                                </div>
                                                <div class= col-sm-4>
                                                    <p>Product 33</p>
                                                    <img src="assets/d7bef245-f505-4a2f-8e1a-a753b5cec40e.jpeg" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                                <div class="row">
                                                    <div class= col-sm-4>
                                                        <p>Product 34</p>
                                                        <img src="assets/e4893625-a99b-4d99-9aff-21752ac6c43d.jpeg" >
                                                    </div>
                                                    <div class= col-sm-4>
                                                        <p>Product 35</p>
                                                        <img src="assets/ec815453-f431-44ff-b23b-480890e292bb.jpeg" >
                                                    </div>
                                                    <div class= col-sm-4>
                                                        <p>Product 36</p>
                                                        <img src="assets/f9cbfdae-73ce-4a34-9e74-68f44c613666.jpeg" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                    <div class="row">
                                                        <div class= col-sm-4>
                                                            <p>Product 37</p>
                                                            <img src="assets/f161d2d8-5be7-4429-a92b-e9c9193610ff.jpeg" >
                                                        </div>
                                                        <div class= col-sm-4>
                                                            <p>Product 38</p>
                                                            <img src="assets/f5981403-a0ca-4001-86fc-109ab7d49ee1.jpeg" >
                                                        </div>
                                                        <div class= col-sm-4>
                                                            <p>Product 39</p>
                                                            <img src="assets/ffad42c8-9bcc-4e35-9e5a-42efd50d976d.jpeg" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                        <div class="row">
                                                            <div class= col-sm-4>
                                                                <p>Product 40</p>
                                                                <img src="assets/8ae0079d-325d-4117-8f7e-ee94840297b4.jpeg" >
                                                            </div>
                                                            <div class= col-sm-4>
                                                                <p>Product 41</p>
                                                                <img src="assets/3871f542-4ce5-4d34-a914-e2f65a7f4103 (2).jpeg" >
                                                            </div>
                                                            <div class= col-sm-4>
                                                                <p>Product 42</p>
                                                                <img src="assets/70978d20-3373-4942-99bb-ad282fc6c7ba.jpeg" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                            <div class="row">
                                                                <div class= col-sm-4>
                                                                    <p>Product 43</p>
                                                                    <img src="assets/c7e42381-3c9e-40a8-b421-11d687527f90.jpeg" >
                                                                </div>
                                                                <div class= col-sm-4>
                                                                    <p>Product 44</p>
                                                                    <img src="assets/df6e04b0-6d6c-4e27-8cb5-3f4c5ebb4157.jpeg" >
                                                                </div>
                                                                <div class= col-sm-4>
                                                                    <p>Product 45</p>
                                                                    <img src="assets/fced054d-5047-4676-8b21-99f83302c3a0.jpeg" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        